.content_top {
 position: relative;
 z-index: 2;
}


body {
   font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
  "Garuda", "Malayalam", Arial, sans-serif;
   min-width: 1135px;
}

h4 {
  color:  #453d3d;
  margin-top: 0px;
  margin-bottom: 5px;
}
.absolute.center,
.fixed.center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.center, .right.left{ 
  margin:auto 
}
.top    { top:0  }
.right  { right: 0 }
.bottom { bottom: 0 }
.left   { left: 0 }

.content_top {
 position: relative;
 z-index: 2;
}

.comics-last {
  margin-top: 20px;
  color: #453d3d;

}

.comics-text {
    font-size: 14px;
    width: 600px;
    display: inline-block;
}

.comics-text  a {
  color:  #734d20;
}



.preview img {
   border: 2px solid #916229;
   border-radius: 3px;
  display: inline-block;
  width: 180px;
  height: 135px;
  float: left;
  background-color: #fff;
}


.post {
display: inline-block;
float: left;
text-align: center;
margin : 10px 10px;
}



.post-link {
color:  #734d20;
}

.post-list {
margin-top: 50px;
width: 840px;
margin: 0 auto;
text-align: center;
height: 100%;
display:block;
overflow:auto;
}

.last-list {
  font-size: 16px;
  margin: 0 auto;
text-align: center;
display:block;
overflow:auto;
  width: 620px !important;
}

.pagination {
  font-size: 18px;
  color:  #734d20;
  margin : 20px auto;
}

.home {
text-align: center;
}

.pagination a {
  color:  #734d20; 
  margin: 0 3px;
}

.current_p {
  color: #4e453a !important;
  text-decoration: none;
}

#header {
  background-image: url("../images/header_full.png"),url("../images/shadow.png");
  background-repeat: no-repeat;
  background-position: left, 25px 135px;
  position: absolute;


margin-left: -37px;
 width: 1135px;
 height: 417px;
}
#header_center {
width: 1060px;
position:  relative;
 height: 417px;
margin: 0 auto;
top: 10px;
z-index: 1;
}

.centering {
width: 100%;
text-align: center;
position: relative;
 z-index: 2;
}

#title {
 margin: 10px 0px 15px 0px;
 color:  #453d3d;
  text-align: center;
 display: inline-block;
  font-size: 18px;
}

#menu {
position: absolute;
top: 0px;
right: 90px;
}
#menu a {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  color:  #453d3d;
}

.main_top {
width: 1060px;
position:relative;
margin-top: -260px;
background-image: url("../images/darkbgm.png");
background-position: 5px bottom;

}
.main_bottom {
  width: 1060px;
padding-bottom: 35px;
position:relative;
background-image: url("../images/lightbgm.png");
background-position: 5px top;
min-height: 280px;
}

body {
background-color: #BFD8FB;
}
.comics_block {
width: 100%;
height: 100%;
padding: 50px 0 0 0;
}
.comics {
display: table-cell;
vertical-align: middle ;
text-align: center;
-moz-box-shadow: 0 0 10px #684823;
-webkit-box-shadow: 0 0 10px #684823;
box-shadow: 0 0 10px #684823;
}

#top_border {
  position: relative;
margin: 0 auto;
background-repeat: repeat-y;
width: 1086px;
background-image: url("../images/left_border_dark.png"), url("../images/right_border_dark.png");
background-position: left bottom, right 1px bottom;

}


#bottom_border {
  position: relative;
margin: 0 auto;
width: 1086px;
background-image: url("../images/left_border_light.png"), url("../images/right_border_light.png");
background-repeat: repeat-y, repeat-y;
background-position: left top, right 2px top;

}

#border_top {
width : 1089px;
margin-left: -15px;
background-image: url("../images/border_light.png");
height: 14px;
}

#bot_border {
  position: relative;
  z-index: -2;
width : 1106px;
margin: 0 auto;
margin-top: -45px;
background-image: url("../images/bot_border.png");
height: 92px;

}


.button {
  margin: 0 3px;
}
#first {
  display: block;
  width: 41px;
  height: 47px;
  float: left;
  background-image: url("../images/buttons_sprite.png");
  background-position: -1px -1px;
}

#prev {
  display: block;
  width: 41px;
  height: 47px;
  float: left;
  background-image: url("../images/buttons_sprite.png");
  background-position: -55px -1px;
}

#circle {
  display: block;
  width: 25px;
  height: 47px;
  float: left;
  margin: 0 7px;
  background-image: url("../images/buttons_sprite.png");
  background-position: -114px -1px;
}

#next{
  display: block;
  width: 41px;
  height: 47px;
  float: left;
  background-image: url("../images/buttons_sprite.png");
  background-position: -155px -1px;
}

#last{
  display: block;
  width: 41px;
  height: 47px;
  float: left;
  background-image: url("../images/buttons_sprite.png");
  background-position: -207px -1px;
}

.button:hover {
 background-position-y: -50px !important;
}


.button:hover {
 background-position-y: -50px !important;
}

.button:active {
 background-position-y: -100px !important;  
}

.disabled {
  margin: 0 3px;
  background-position-y: -151px !important;
}

.comics_block {
  text-align: center;
}

.comics_block img {
max-width: 1000px;
}

#navigate {
  display: inline-block;
  position: :relative;
  margin: 0 auto;
  
  width: 227px;
}

#author_comment {

  color:  #453d3d;
margin-top: 10px;
  font-size: 14px;
  width: 640px;
  margin-left: 20px;
  background-color: rgba(194,138,68,0.2);
  padding: 10px;
  -moz-box-shadow: 0 0 7px #684823;
-webkit-box-shadow: 0 0 7px #684823;
box-shadow: 0 0 7px #684823;
}

#ad {
  position: absolute;
  right: 20px;
  top: 23px;
  background-color: #909090;
  width:300px;
  height:250px;
}

#disqus_thread {
  width: 660px;
  margin-top: 10px;
   margin-left: 20px;
}

.disqus_center {
  margin: 0 auto !important;
  margin-top: 10px !important;
}

.comics-main {
  margin-top: 20px;
}

.comics-name {
  float: left;
  font-size: 22px;
  font-style: bold;
 color: #342e2e;
 margin: 0 50px;
}
.comics-name-left {
  margin-top: 5px;
  position: relative;
  float: left;
  font-size: 16px;
  color: #916229;
}

.comics-name-container {
display: inline-block;
}

.comics-description {
  text-align: left;
  display: inline-block;
  color:  #453d3d;
  width: 600px;
  font-size: 14px;
  margin-top: 20px;
}

.comics-main .uptolike-buttons {
margin-top: 10px;
}

.comics-text-bottom {
  margin-top: 10px;
  margin-bottom: 15px;
}

.date-p {
  font-size: 12px;
  opacity: 0.8;
}

.navigate-plus {
  position: relative;
width: 600px;
height: 50px;
margin: 0 auto;
padding-top: 5px;
padding-bottom: 25px; 
}

@-moz-document url-prefix() {
    .navigate-plus {
padding: 20px; 
}
}

.navigate-plus .uptolike-buttons {
  position: absolute;
right: 0px;
top: 12px;
opacity: 0.7;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.navigate-plus .uptolike-buttons:hover {
  opacity: 1;
}

.c-vote {
  position: absolute;
left: -20px;
top: 10px;
opacity: 0.55;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.c-vote:hover {
  opacity : 1;
}

.footer {
  width: 1060px;
  text-align: center;
  margin: 0 auto;
  font-size: 12px;
  opacity: 0.6;
  margin-top: 20px;
  margin-bottom: 10px
}

@-moz-document url-prefix() {
    .navigate-plus {
padding: 20px; 
}

.c-vote {

top: 25px;

}

.navigate-plus .uptolike-buttons {

top: 28px;

}

}