<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>



  

      <div id="header_center">
      <div id="header"><div id="menu">
       {% if page.language == "en" %}
    <a href="{{ site.url }}">Main</a>
      <a href="{{ site.url }}/archive">Archive</a> 
    
       {% endif %}
        {% if page.language == "ru" %}
       <a href="{{ site.url }}/ru">Главная</a>
      <a href="{{ site.url }}/ru/archive">Архив</a> 
      {% endif %}  
      </div></div>
      </div>
<div id="top_border">
<div class="main_top absolute center">

      <div class="comics_block">
        <div class="content_top ">
        {{ content }}
      </div>
</div>
</div>
</div>

<div id="bottom_border">
  <div class="main_bottom absolute center">
    <div id="border_top"></div>
    
    

 
 
  </div>

</div>
<div id="bot_border"></div>


      

  </body>

</html>
